:root {
  --padding-x: 2em;
  --padding-y: 0.75em;

  --breakpoint-medium: 35em;
  --breakpoint-large: 56em;

  --transition-time: 0.3s;

  --gray: #dddddd;
  --white: white;
  --sky: #009ddc;
  --blue: #0083d7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1em;
}
html {
  scroll-behavior: smooth;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container > main {
  flex-grow: 1;
}
